# dependencies
/node_modules

# testing
/coverage

# databases
deribit_data.db
technical_analysis_4h.csv
technical_analysis_daily.csv
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
